<!DOCTYPE html>
<html>
<head>
    <title>Покемоны</title>
</head>
<body>
    <div style="width:960px; margin:0 auto;">
        <h1>Выбор покемона</h1>
        <form action="/" method="GET">
            <input type="text" size="30" name="search" placeholder="Начните вводить имя покемона">
            <input type="submit" value="Поиск">
        </form>
        <table>
            <tr>
                <th>Имя</th>
                <th>Статы</th>
                <th>Изображение</th>
                <th>Действия</th>
            </tr>
            {% for pokemon in pokemon_list %}
            <tr>
                <td>{{ pokemon.name }}</td>
                <td>{{ pokemon.stats }}</td>
                <td><img src="{{ pokemon.image_url }}" alt="изображение покемона по имени {{ pokemon.name }}"></td>
                <td><a href="/battle?selected_pokemon_name={{ pokemon.name }}">Выбрать</a>
                    <a href="/comment?selected_pokemon_name={{ pokemon.name }}">Отзывы</a>
                    <a href="/ftpsave?selected_pokemon_name={{ pokemon.name }}">Сохранить</a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <div>
            {% if page > 1 %}
                <a href="/?page={{ page-1 }}">Назад</a>
            {% endif %}
            {% if page > 4 %}
                <a href="/?page={{ page-4 }}">{{ page-4 }}</a>
            {% endif %}
            {% if page > 3 %}
                <a href="/?page={{ page-3 }}">{{ page-3 }}</a>
            {% endif %}
            {% if page > 2 %}
                <a href="/?page={{ page-2 }}">{{ page-2 }}</a>
            {% endif %}
            {% if page > 1 %}
                <a href="/?page={{ page-1 }}">{{ page-1 }}</a>
            {% endif %}
            <span>{{ page }}</span>
            <a href="/?page={{ page+1 }}">{{ page+1 }}</a>
            <a href="/?page={{ page+2 }}">{{ page+2 }}</a>
            <a href="/?page={{ page+3 }}">{{ page+3 }}</a>
            <a href="/?page={{ page+4 }}">{{ page+4 }}</a>
            <a href="/?page={{ page+1 }}">Далее</a>
        </div>
    </div>
</body>
</html>